@media screen and (max-width: 1600px) {
  .statements h2 {
    font-size: 43px !important;
  }
}
@media only screen and (max-width: 1440px) {
  header {
    width: calc(100% - 8vw) !important;
  }
  .main {
    width: calc(100% - 8vw) !important;
  }
  .slidShow {
    width: calc(100% - 8vw) !important;
  }
  .videoSec {
    width: calc(100% - 8vw) !important;
  }
  .top {
    width: calc(100% - 8vw) !important;
  }
  .bottom {
    width: calc(100% - 8vw) !important;
  }
  .faqsTop {
    width: calc(100% - 8vw) !important;
  }
  .pagesmain {
    width: calc(100% - 8vw) !important;
  }
}
@media screen and (max-width: 1300px) {
  .action {
    margin: 0;
    line-height: 56px;
  }
}
@media screen and (max-width: 1290px) {
  .statements h2 {
    font-size: 40px !important;
  }
}
/* xl screens */
@media screen and (max-width: 1270px) {
  .videoSecBg {
    background-size: 48%;
  }
}
@media screen and (max-width: 1214px) {
  .statements h2 {
    font-size: 35px !important;
  }
}
@media screen and (max-width: 1200px) {
  .slidShowItems {
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-start;
    overflow-x: auto;
  }

  .firsColumn p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1190px) {
  .slidShowItems {
    justify-content: space-around;
  }
  .item {
    margin: 10px 1%;
  }
}
/* tablet */
@media screen and (max-width: 1100px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .mainGradientBg {
    background: -webkit-radial-gradient(50% 50%, #1c39bb 46%, transparent 67%);
    /* padding: 45px 40px; */
  }
  .phonMokup {
    display: none;
  }
  .statements {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
    justify-content: flex-start;
    align-items: center;
  }
  .futureTitle {
    font-size: 28px !important;
    line-height: 46px !important;
  }
  .action {
    font-size: 28px;
    line-height: 46px;
  }
  .appDownloadBtn img {
    width: 180px;
  }
  .slidShowItems {
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-start;
    overflow-x: auto;
  }
  .videoSecBg {
    background-size: 48%;
  }
  .videoTitle {
    margin-top: 80px;
    margin-bottom: 0;
  }
  .innerParts {
    box-sizing: border-box;
    flex-direction: column-reverse;
    padding: 36px 42px;
  }
  .descriptionPart {
    width: 100%;
  }
  .videoPart {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .videoPart p {
    margin-bottom: 57px;
  }
  footer {
    padding: 0 42px;
  }
  .top {
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
  }
  .secondColumn {
    flex-wrap: wrap;
    width: 50%;
    /* padding-left: 50px; */
  }
  .bottom {
    align-items: center;
  }
  .bottom p {
    margin: 50px 0;
  }
}
/* L phone */
@media screen and (max-width: 900px) {
  .item {
    max-width: 58%;
    width: 58%;
    margin: 10px 1%;
    min-width: 58%;
  }
}
/* phone */
@media only screen and (max-width: 500px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  header {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    padding: 0 30px;
  }
  .logo img {
    height: 64px;
    width: 95px;
    padding: 14px 8px;
  }
  .right {
    width: 50%;
  }
  .globe {
    display: none;
  }
  .login {
    padding: 18px 8px;
  }
  .btn{
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  .btn a {
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 20px;
  }
  .mainBgColor {
    background-size: 120%;
  }
  .phonMokup {
    display: none;
  }
  .statements {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
    padding-bottom: 0;
  }
  .statements h1 p {
    font-size: 32px;
  }
  .innovative {
    margin-top: 48px;
    color: #ffffff;
    font-size: 18px;
    /* justify-content: flex-start; */
    text-align: start;
  }
  .futureTitle {
    font-size: 28px;
    line-height: 46px;
    margin: auto;
    word-wrap: break-word;
    text-align: center;
  }
  .futureTitle span {
    margin: 0 6px;
  }
  .bolder {
    font-weight: 700;
  }
  .action {
    font-size: 4.9vw;
  }
  .appDownloadBtn {
    display: flex;
  }
  .appDownloadBtn img {
    width: 160px;
  }
  .googlePlay {
    margin: 10px 0 !important;
    /* margin-right: 32px !important; */
  }
  .appStore {
    margin-left: 32px !important;
  }
  .slidShowItems {
    height: 100%;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-start;
    overflow-x: auto;
  }
  .item {
    align-items: center;
    text-align: center;
    max-width: 70%;
    width: 70%;
    margin: 10px 2%;
    min-width: 70%;
  }
  .videoSec {
    box-sizing: border-box;
    height: 100%;
    padding: 0 30px;
  }
  .videoSecBg {
    background-size: 48%;
  }
  .videoTitle {
    margin-top: 80px;
    margin-bottom: 0;
  }
  .innerParts {
    box-sizing: border-box;
    flex-direction: column-reverse;
    padding: 36px 0;
  }
  .descriptionPart {
    width: 100%;
  }
  .videoPart {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .videoPart p {
    margin-bottom: 57px;
  }
  footer {
    padding: 0 30px 45px;

    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .top {
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
  }
  .firsColumn {
    margin: 0;
    width: 100%;
  }
  .logoPic {
    align-self: center;
    justify-content: center;
  }
  .logoPic img {
    background-color: transparent;
    width: 100px;
    margin-top: 62px;
    color: #000 !important;
    filter: brightness(0) invert(1) !important;
  }
  .firsColumn p {
    line-height: 28px;
    font-size: 12px;
    width: 100%;
    text-align: center;
  }
  .secondColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    width: 100% !important;
  }
  .pages a {
    font-size: 12px;
  }
  .thirdColumn {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .icons {
    margin-top: 15px;
  }
  .bottom {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .bottom p {
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }
  .apps {
    margin-top: 40px;
    justify-content: center;
  }
  .apps img {
    text-align: center;
    margin-right: 20px;
    max-width: 120px;
  }
  .faqsTop {
    background-size: 250px;
    background-position: -110px;
  }
}
/* S phone  */
@media screen and (max-width: 450px) {
  .btn {
    padding: 0 3px !important;
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  .statements h1 p {
    font-size: 32px;
  }
}
