@font-face {
  font-family: iranSans;
  src: url(./font/17/IRANSansWeb.ttf);
}
* {
  font-family: iranSans !important;
}

.logoImg {
  border-radius: 8px 0 0 8px;
  padding: 4px 8px;
}
.bgContainer {
  height: 100%;
  min-height: 100vh;
}

.back img {
  transform: rotate(180deg);
}
.back p {
  color: rgba(255, 255, 255, 0.8);
}
form {
  direction: ltr;
}
.number{
  justify-content: flex-end;
  direction: rtl;
}
.number p {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
}
.numberInput input {
  direction: rtl;
}
.code p {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}
.account {
  margin: 5px;
  color: rgba(255, 255, 255, 0.8);
}
.passwordSec p {
  text-align: right;
}
.passwordInput {
  justify-content: space-between;
  padding: 11px;
  direction: rtl;
}
.passwordSec {
  padding: 8px 0;
}
